@use '../../../assets/global' as c;

.item-table {

  .title {
    display: flex;
  }

  .title div {
    font-size: c.$font-lg;
    position: relative;
    left: 500px;
    cursor: pointer;
  }

  mat-form-field {
    width: 90%;
  }

  .btn {
    margin-right: 15px;
    text-align: right;
  }

  button {
    margin: 5px;
  }

  .text-inside {
    position: absolute;
    left: 5px;
    width: 100%;
  }
}

.error{
  padding: 10px;
  color: #f44336;
  text-align: center;
  font-size: large;
}
