<div>
    <div class="header"></div>
    <div *ngIf="dataSource" class="mat-elevation-z5 table">
        <mat-table [dataSource]="dataSource" *ngIf="dataSource">

            <ng-container matColumnDef="store">
                <mat-header-cell *matHeaderCellDef>Store</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                <mat-cell *matCellDef="let row"> X{{row.quantity}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="sum">
                <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                <mat-cell
                        *matCellDef="let row"> {{ (selectedCurrency$ | async)! === usd ? '$' + row.sum : '₪' + (row.sum * (exchangeRate$ | async)! | number : '1.2-2') }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsNames"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsNames;"></mat-row>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell no-result" colspan="6">No result...</td>
            </tr>
        </mat-table>
        <div *ngIf="totalPrice">
            <div fxLayout="row" fxLayoutAlign="center center" class="total">
                Total price: {{ (selectedCurrency$ | async) === 'USD' ? '$' + totalPrice : '₪' + (totalPrice * (exchangeRate$ | async) | number : '1.2-2')}}
            </div>
        </div>
    </div>
</div>