@use '../../../assets/global' as c;

.item-wrapper {

    .toolbar-secondary {
        mat-ink-bar.mat-ink-bar {
            background-color: c.$shopping-app-black !important;
        }

        .mat-tab-label-content {
            color: c.$shopping-app-black !important;
        }
    }

    .mat-toolbar-row, .mat-toolbar-single-row {
        display: block;
    }

    mat-toolbar {
        background-color: c.$shopping-app-secondary;
    }

    .mat-ink-bar {
        background-color: c.$shopping-app-white !important;
    }

    .mat-tab-label-content {
        font-size: c.$font-lg;
        color: c.$shopping-app-white !important;
    }
}
