@use '../../../assets/global' as c;

.item-table {
  .header {
    padding: 30px;
    position: sticky;
    top: 15px;
    height: 60px;
    width: auto;
    margin-right: 15px;
  }

  .table {
    margin: 15px;
    border-collapse: collapse;
    border-radius: 5px;
  }

  .mat-header-cell {
    background-color: c.$shopping-app-secondary !important;
    font-family: c.$font-family;
    font-size: c.$font-md;
    font-weight: 900;
  }

  mat-cell {
    font-size: c.$font-md;
    text-align: center;
    margin-inline-start: 3px;
  }

  .mat-row:hover {
    background: c.$shopping-app-hover;
  }

  .no-result {
    font-size: c.$font-lg;
    padding: 30px;
  }
}
