///* Font family */
$font-family: "Rubik Bold", sans-serif;

/* Font Sizes*/
$font-md: 14px;
$font-lg: 16px;

/* Main pallet colors: */
$shopping-app-hover: rgba(64, 123, 231, 0.1);
$shopping-app-white: #FFFFFF;
$shopping-app-black: #000000;
$shopping-app-primary : #4D4D4D;
$shopping-app-secondary: #DBDBDB;
